{% extends '__base__.html' %}

{% block title %} 全部日志 {% endblock %}

{% block beforehead %}


<script>


	
</script>

{% endblock %}

{% block content %}

	<div class="uk-width-medium-3-4">
	{% for blog in blogs %}

			<div class="post-preview">
				<a href="/blog/{{ blog.id }}">
					<h2 class="post-title">{{ blog.name }}</h2>
					<h3 class="post-subtitle">{{ blog.summary }}</h3>
					<div class="post-content-preview">{{ blog.html_content | truncate(220) }}</div>
				</a>
			</div>
		<p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
		<hr class="uk-article-divider">
	{% endfor %}
	</div>
	
	<div class="uk-width-medium-1-4">
		<div class="uk-panel uk-panel-header">
			<h3 class="uk-panel-title">友情链接</h3>
			<ul class="uk-list uk-list-line">
				<li><i class="uk-icon-thumbs-o-up"></i> <a href="#" target="_blank">编程</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a href="#" target="_blank">读书</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a href="#" target="_blank">Python教程</a></li>
				<li><i class="uk-icon-thumbs-o-up"></i> <a href="#" target="_blank">Git教程</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
